<div class="individual-user-component-container">
  <app-header></app-header>
  <div class="individual-user-field-wrapper">

    <div class="user-info-display label" data-test="individualUser-email">User Email</div>
    <div class="user-info-display" data-test="individualUser-email">{{result.email}}</div>

    <div class="user-info-display label" data-test="individualUser-name">User Name</div>
    <div class="user-info-display" data-test="individualUser-name">{{result.name}}</div>

    <div class="user-info-display label" data-test="individualUser-id">User ID</div>
    <div class="user-info-display" data-test="individualUser-id">{{result._id}}</div>

    <button type="submit" value="submit" routerLink="/individual-user/edit/{{result.email}}" class="editUserButton" mat-raised-button>Edit User</button>
    <button type="submit" (click)="deleteUserHandler(result._id)" routerLink="/users-management" value="submit" mat-raised-button>Delete User</button>

  </div>

</div>

<!--below should be admin access, not user access-->

<!--<app-not-logged-in-message></app-not-logged-in-message>-->




