<div class="individual-user-component-container">
  <app-header></app-header>
  <div class="individual-user-field-wrapper">

    <p class="user-info-display label" data-test="individualUser-email">User Email</p>
    <p class="user-info-display" data-test="individualUser-email">{{result.email}}</p>

    <p class="user-info-display label" data-test="individualUser-name">User Name</p>
    <p class="user-info-display" data-test="individualUser-name">{{result.name}}</p>

    <p class="user-info-display label" data-test="individualUser-id">User ID</p>
    <p class="user-info-display" data-test="individualUser-id">{{result._id}}</p>

    <button type="submit" value="submit" mat-raised-button>Delete User</button>
  </div>

</div>





