@import "../../assets/variables";


.individual-user-field-wrapper{
  width: 25%;
  margin: 0 auto;
  height: 50%;
  margin-top: 5%;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  border: 1px solid white;

}

.individual-user-component-container{
  background-color: $scw-grey;
  height: 100%;

}


.user-info-display {
  color: $scw-white;
  font-size: 1.5em;
  padding-bottom: 6%;
  padding-left: 10%;
  text-align: center;
  width: 80%;
  &.label{
    color: $scw-yellow-light;
  }
}


.userInfoContainer{
  width: 100%;

}

.mat-raised-button{
  width: 90%;
  margin: 5%;
  background-color: red;
  color: $scw-white;
  &:hover{
    background-color: $scw-yellow-light;
  }
}

.editUserButton{
  background-color: $scw-yellow-dark;
}
