@import "../../assets/variables";

mat-toolbar {
  background-color: $scw-grey;
  color: $scw-white;
  height: 10%;
  font-size: 30px;
  width: 100%;
}

.image-container {
  float: right;
  width: 100%;
}

img {
  height: 50px;
  float: right;
}

.buttonContainer{
  margin-left: 2%;
}

.logoutButton {
  background-color: $scw-yellow-dark;
  &:hover{
    background-color: $scw-yellow-light;
  }
}
