@import "../../assets/variables";

.quiz-content-wrapper{
  background-color: $scw-grey;
  height: 90%;
  width: 100%;
}

.quiz-heading-wrapper{
  text-align: center;
  padding-top: 3%;
  color: $scw-white;

  & .header-text{
    font-size: 2vw;
  }
}

.resultsWrapper {
  text-align: center;
  color: $scw-white;
  font-size: 1vw;
  margin: 5%;

}

.question-box{
  width: 60%;
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3.5%;
  background-color: $scw-light-grey;
}

.question-text{
  color: $scw-white;
  font-size: 1vw;
  margin: 3.5%;
  text-align: center;
}

.selection-option{
  display: block;
  color: $scw-white;
  padding-left: 6%;
  font-size: 0.9vw;
  margin: 2%;
}

#example-radio-group-label{
  color: $scw-white;
  padding-bottom: 2%;
  font-size: 0.9vw;
  padding-left: 6%;;
}

.selection-option-wrapper{
  color: $scw-white;
}

.grid-item{
  padding: 1%;
  margin:0 auto;
  display:block;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: 1vw;
  text-align: center;
  background-color: $scw-yellow-dark;
  color: $scw-white;
  &:hover{
    background-color: $scw-yellow-light;
  }
}

::ng-deep .mat-radio-container{
  margin-right: 12px !important;
}
