<app-header></app-header>

<div class="muscle-group-content-wrapper">
  <div class="muscle-group-heading-wrapper">
    <p class="header-text">Select A Muscle Group Warrior</p>
  </div>

  <div class="muscle-group-button-grid">
    <button class="grid-item" mat-raised-button>Tournaments</button>
    <button class="grid-item" mat-raised-button>Assessments</button>
    <button class="grid-item" mat-raised-button>Training</button>
    <button class="grid-item" mat-raised-button>Resources</button>
    <button class="grid-item" mat-raised-button>Courses</button>
    <button class="grid-item" mat-raised-button>Administration</button>
    <button class="grid-item" mat-raised-button>Content</button>
    <button class="grid-item" mat-raised-button>Metrics</button>
  </div>
</div>


