<app-header *ngIf="muscleGroupAccess"></app-header>

<div *ngIf="muscleGroupAccess" class="muscle-group-content-wrapper">
  <div class="muscle-group-heading-wrapper">
    <p data-test="muscleGroupsHeader" class="header-text">Select A Muscle Group Warrior</p>
  </div>

  <div data-test="muscleGroups" class="muscle-group-button-grid">
    <button
      class="grid-item"
      data-test="specificMuscleGroup"
      mat-raised-button *ngFor="let muscleGroup of muscleGroups"
      routerLink="/quiz/{{muscleGroup}}">
      {{muscleGroup}}
    </button>
  </div>
</div>

<div *ngIf="muscleGroupAccess == false">
  You must be logged in to view this page
</div>
