@import "../../assets/variables";

.login-container{
  background-color: $scw-grey;
  width: 100%;
  height: 100%;
}

.mat-form-field {
  background-color: $scw-white;
  margin: 10px;
  width: 45%;
}

.login-container{
  width: 100%;
}

.example-form{
  padding-top: 18%;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.form-wrapper{
  background-color: $scw-yellow-light;
}
