@import "../../assets/variables";

.login-container{
  background-color: $scw-grey;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.login-input{
  background-color: $scw-white;
  margin: 2%;
  width: 46%;
}

.input-wrapper{
  width: 100%;
}

.login-container{
  width: 100%;
}

.example-form{
  padding-top: 18%;
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.form-wrapper{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-raised-button{
  width: 90%;
  margin: 5%;
  background-color: $scw-yellow-dark;
  color: $scw-white;
  &:hover{
    background-color: $scw-yellow-light;
  }
}

