<app-header></app-header>

<div class="users-management-content-wrapper">
  <div class="users-management-heading-wrapper">
    <p class="header-text">Users</p>
  </div>
  <!-- This code below will be repeated for each user -->
    <div class="individual-user">
      <div class="name">
        <p>User's Name</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent">User Details</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>
  <!-- This code above will be repeated for each user -->

  <!-- This code below will be repeated for each user -->
    <div class="individual-user">
      <div class="name">
        <p>User's Name 2</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent">User Details</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>
  <!-- This code above will be repeated for each user -->

  <!-- This code below will be repeated for each user -->
    <div class="individual-user">
      <div class="name">
        <p>User's Name 3</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent">User Details</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>
  <!-- This code above will be repeated for each user -->
</div>

