<app-header></app-header>

<div *ngIf="!errorMsg" class="users-management-content-wrapper">
  <div class="users-management-heading-wrapper">
    <p class="header-text">Users</p>
  </div>

  <!-- ngFor below will need to be modified when we included real users with real properties -->

    <div class="individual-user" data-test="individualUser" *ngFor="let user of result">
      <div class="name">
        <p>{{user.email}}</p>
      </div>
      <div class="button-container">
        <button mat-raised-button color="accent" routerLink="/individual-user/{{user.email}}">User Details</button>
        <button mat-raised-button color="warn" (click)="deleteUserHandler(user.id)">Delete</button>
      </div>
    </div>
</div>

<h3 *ngIf="errorMsg">{{errorMsg}}</h3>
