<div class="login-container">
  <div class="example-form-container">
    <form #addUser ="ngForm" (ngSubmit)="onFormSubmit(addUser.value)" class="example-form">
      <div class="form-wrapper">
        <div class="input-wrapper">

          <mat-form-field data-test="signupEmailField" class="login-input">
            <mat-label>Name</mat-label>
            <input
              type="name"
              matInput
              required
              name="nameInput"
              ngModel
              placeholder="Bob Smith">
<!--            <mat-error>-->
<!--              Please enter a valid email address-->
<!--            </mat-error>-->
            <mat-error>
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>







          <mat-form-field data-test="signupEmailField" class="login-input">
            <mat-label>Email Address</mat-label>
            <input
              type="email"
              matInput
              required
              name="emailInput"
              ngModel
              placeholder="Ex. pat@example.com">
            <mat-error>
              Please enter a valid email address
            </mat-error>
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field data-test="signupPasswordField" class="login-input">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              required
              name="passwordInput"
              ngModel>
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field data-test="signupPasswordConfirmField" class="login-input">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              matInput
              required
              name="passwordConfirmInput"
              ngModel>
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button type="submit" value="submit" mat-raised-button>Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
