@import "../../assets/variables";

.notLoggedInContainer{
  background-color: $scw-grey;
  height: 100%;
  width: 100%;
}


.notLoggedInDisplayTxt {
  color: $scw-white;
  text-align: center;
  padding-top: 10%;
  font-size: 1.5vw;
}

.loginButton{
  background-color: $scw-yellow-dark;
  color: $scw-white;
  &:hover{
    background-color: $scw-yellow-light;
  }
}
